/* style.css - Para importación de estilos divididos y reglas globales mínimas */

@import url("navbar.css");
@import url("home.css");
@import url("footer.css");

*{box-sizing: border-box;}
html,body{margin:0;padding:0;height:100%;}
body{overflow-x:hidden;font-family: Arial, Helvetica, sans-serif;}

